<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System for teacher or tutor</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <meta name="description" content="Manage student attendance and details efficiently with our tutor portal.">
    <meta name="keywords" content=" tutor portal, student attendance, contact details ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-512Y1MVSGY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-512Y1MVSGY');
</script>

</head>
<style>
  *{
    font-family: 'Times New Roman', Times, serif;
  }

.mainbox{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  height:400px;
  gap:20px;
}



  .footer{
    margin-top:400px;
    padding-top:8px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: black;
    color:#fff;
}
.footone{
    display:flex;
    justify-content: center;
    gap:10px;
}
.foottwo{
    display:flex;
    justify-content: center; 
    text-decoration-line: none; 
    gap:10px;
}
.footthree{
    text-align:center;
}
   
</style>

<body>
      <!--navbar--> 
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/page/<%=infos%>">
      <!--i can put logo--> 
    
        Attnify.in</a>
   <!--   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class=" navbar-expand" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/page/<%=infos%>">Home</a>
          <a class="nav-link active" href="/">Logout</a>
          <a class="nav-link active" href="/currentaffair/<%=infos%>">Current affair</a>
          
      
        </div>
      </div>
    </div>
  </nav><br>
  <div class="mainbox">
    <h3>ContactUs/Feedbacks</h3>
    <form action="https://formspree.io/f/xnqewebw" method="post" class="form-control">
      <label for="name">
        Name:
      </label>
      <input type="text" class="form-control"  name="name" placeholder="Username" required ><br>
      <label for="email">
        Email:
      </label>
      <input type="email" class="form-control"  name="email" placeholder="name@gmail.com" required ><br>
      <label for="query">
        Message:
      </label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="message"></textarea><br>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>












  <div class="footer">
    <div class="footone">
      <a href="#"> <i class="fa fa-facebook" style="font-size:25px;color:green"></i></a> 
      <a href="https://www.instagram.com/attnify"> <i class="fa fa-instagram" style="font-size:25px;color:rgb(109, 6, 92)"></i></a> 
  
    </div>
    <div class="foottwo">
      <a href="/about/<%=infos%>">About</a>
      <a href="/privacy/<%=infos%>">Privacy</a>
      <a href="/contactus/<%=infos%>">Contactus</a>
    </div>
    <div class="footthree"><h5>&copy;Attnify.in:2024</h5></div>
    
  
  </div>

</body>