<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System for teacher or tutor</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <meta name="description" content="Manage student attendance and details efficiently with our tutor portal.">
    <meta name="keywords" content=" tutor portal, student attendance, contact details ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 

</head>
<style>
  *{
    margin:0%;
    padding:0%;
    font-family: 'Times New Roman', Times, serif;
  }
 .one{
  /*  border:3px solid blanchedalmond;*/
  margin:20px;
   background-color: rgb(138, 43, 226);
   color:white;
   padding-left:10px;
   padding-right: 5px;
   overflow-y: scroll;
   height:135px;
 /*  padding-top:10px;
   
   width:175px;
   */
   text-align: justify;
   box-shadow:5px 5px 15px blanchedalmond; 
}
.notification{
  width:100%;
  background-color: black;
  color:white;
  font-family: 'Times New Roman', Times, serif;
 
}

.box{
  width:fit-content;
  animation: info 15s linear infinite ;
}

@keyframes info {
  0%{transform:translateX(-30%)}
  100%{transform:translateX(80%)}
  
}
</style>
<body>
   <!--navbar--> 
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/page/<%=id%>">
      <!--i can put logo--> 
    
        Record.com</a>
   <!--   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class=" navbar-expand" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/page/<%=id%>">Home</a>
          <a class="nav-link active" href="/">Logout</a>
         <a class="nav-link active" href="/currentaffair/<%=id%>">Current affair</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="main">
<div class="notification">
<p class="box">Current affair will be update every day at 10 AM</p>
</div>

  <!--current affair will show for user-->  
   <!--below current affair come -->
   <% infos.forEach(function(info){%>
    <div class="one">
    <h3><%=info.day%></h3>
    <pre><%=info.topic%></pre>

</div>
<% })%>
</div>

</body>
</html>