<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System for teacher or tutor</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <meta name="description" content="Manage student attendance and details efficiently with our tutor portal.">
    <meta name="keywords" content=" tutor portal, student attendance, contact details ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="batch/css/style.css">
    <link rel="stylesheet" href="batchdelete/css/style.css">
    <link rel="stylesheet" href="record/css/style.css">

</head>
<body>
   <!--navbar--> 
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/page/<%=infos._id%>">
      <!--i can put logo--> 
    
        Record.com</a>
   <!--   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class=" navbar-expand" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/page/<%=infos._id%>">Home</a>
          <a class="nav-link active" href="/">Logout</a>
          <a class="nav-link active" href="/currentaffair/<%=infos._id%>">Current affair</a>
        </div>
      </div>
    </div>
  </nav><br>
 
  <h5>Welcome <%=infos.name%></h5><br>
  <div class="batch">
    <a class="btn btn btn-success" aria-current="page" href="/batchcreate/<%=infos._id%>">New Batch</a>
  </div>
  <div style="display:flex;justify-content: flex-end;margin-top:0px; ">
    <form action="/deleteuser/<%=infos._id%>" method="post" id="formdelete" >
      <button type="submit" id="delete" class="btn btn btn-danger" style="height:32px" >Close Account</button>
    </form>
   
  </div><br>
  
<%if(infos){%>
  <div class="batchcard">
  <%infos.batchname.forEach(function(info){%>
    <div class="cardthree">
      <ul>
      <li><%=info.name%></li>
      <li><%=info.time%></li>
    </ul>
    <!--batch id i got from here so i need to add student in batch so each batch has different student-->
    <div class="edit">
      <a class="btn btn-success" href="/home/<%=info._id%>">Browse</a>
      <a class="btn btn-danger" href="/batchdelete/<%=info._id%>">Delete</a>
    </div>
    </div>
  <%})%>
   
  </div>
<%}else{%>>
  <p>Add Batch</p>
<%}%>

<div class="footer">
  <div class="footone">
    <a href="#"> <i class="fa fa-facebook" style="font-size:25px;color:green"></i></a> 
    <a href="#"> <i class="fa fa-instagram" style="font-size:25px;color:rgb(109, 6, 92)"></i></a> 

  </div>
  <div class="foottwo">
    <a href="/about/<%=infos._id%>">About</a>
    <a href="/privacy/<%=infos._id%>">Privacy</a>
  </div>
  <div class="footthree"><h5>&copy;Jetlin Karkha&Co.2024</h5></div>
  

</div>
<script>
document.getElementById('delete').addEventListener('click', function(event) {
    const confirmDelete = confirm("Are you sure you want to close your account permanently?");
    if (!confirmDelete) {
        event.preventDefault(); // Prevent form submission
    } else {
        document.getElementById('formdelete').submit(); // Submit the form
    }
});


</script>
</body>
</html>